<html ng-app="anticorrupcion">
<head>
    <title>Hackaton Anticorrupción</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBvSziKTaj6w2Y_yZSNK_UjyXEKJdIQQFk",
            authDomain: "anticorrupcion-1444b.firebaseapp.com",
            databaseURL: "https://anticorrupcion-1444b.firebaseio.com",
            projectId: "anticorrupcion-1444b",
            storageBucket: "anticorrupcion-1444b.appspot.com",
            messagingSenderId: "1050013384907"
        };
        firebase.initializeApp(config);
    </script>
    <script src="node_modules/angularfire/dist/angularfire.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body  ng-controller="login">
<div >
    <md-content style="background-image: url('ldc_logo.png');background-repeat: no-repeat; background-position:  left bottom ">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon class="material-icons" >open_with</md-icon>
                </md-button>
                <h2 flex >{{ global.title }}</h2>
            </div>
        </md-toolbar>
        <div layout = "row" flex-offset="30" flex="40">

            <div flex="100">
                <div style="text-align: center"><img src="/tu_pae.png" width="40%"></div>
                <form ng-submit="ingreso()">

                    <div flex="100">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Usuario</label>
                            <input ng-model="user.usuario">
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-input-container class="md-block">
                            <label>Contraseña</label>
                            <input ng-model="user.pass" type="password">
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-button type="submit">Ingresar</md-button>
                    </div>

                </form>
            </div>
        </div>


    </md-content>
</div>
    <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</body>
</html>