<html ng-app="anticorrupcion">
<head>
    <title>Hackaton Anticorrupción</title>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css"/>

    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-messages/angular-messages.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="/node_modules/moment/moment.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBvSziKTaj6w2Y_yZSNK_UjyXEKJdIQQFk",
            authDomain: "anticorrupcion-1444b.firebaseapp.com",
            databaseURL: "https://anticorrupcion-1444b.firebaseio.com",
            projectId: "anticorrupcion-1444b",
            storageBucket: "anticorrupcion-1444b.appspot.com",
            messagingSenderId: "1050013384907"
        };
        firebase.initializeApp(config);
    </script>
    <script src="/node_modules/angularfire/dist/angularfire.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body ng-controller="home">
<div layout="column"  ng-cloak>


    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"

            md-whiteframe="4">

        <md-toolbar
        <h1 class="md-toolbar-tools">Menú</h1>
        </md-toolbar>
        <md-content layout-padding >

            <md-list flex>

                <md-list-item ng-repeat="itemsMenu in global.menu" ng-click="openModule(itemsMenu.href)"> <md-icon class="material-icons">dashboard</md-icon><p>
                    {{ itemsMenu.title }}</p></md-list-item>


            </md-list>
        </md-content>

    </md-sidenav>


    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button"  ng-click="toggleLeft()" aria-label="Settings" >
                <md-icon class="material-icons" >menu</md-icon>
            </md-button>
            <img src="/tu_pae.png" width="40">
            <h2 flex md-truncate>{{ global.title }}</h2>
            <span flex></span>
            <md-button ng-click="loadDialogNew()" class="md-warn" aria-label="Nuevo Contrato" >
                Nuevo <md-icon class="material-icons" >library_add</md-icon>
            </md-button>
        </div>
    </md-toolbar>
<div layout="row">
    <div flex-offset="10" flex="80">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Contratos">
                <br>
                <h2>Contratos disponibles</h2>
        <table class="table table-hover" width="100%">
                <tr>
                    <th scope="col" >Fecha Inicio</th>
                    <th scope="col" >Fecha fin</th>
                    <th scope="col" >No. Días</th>
                    <th scope="col" >Nombre de la Entidad</th>
                    <th scope="col" >Valor</th>
                    <td scope="col" ></td>

                </tr>
            <tr ng-repeat="item in lista">
                <td>{{ dateStart = (item.toJSON().fecha_de_inicio_del_contrato  | date : 'yyyy-MM-dd') }} </td>
                <td>{{ dateEnd =  (item.toJSON().fecha_de_fin_del_contrato  | date : 'yyyy-MM-dd') }} </td>
                <td>{{ dateStart |  dateDiff : dateEnd  }} </td>
                <td>{{ item.toJSON().nombre_entidad }} </td>

                <td style="text-align: right">{{ item.toJSON().valor_del_contrato | currency :'':0 }} </td>
                <td><md-button class="md-warn" ng-click="addItem(item)" type="button">Seguimiento</md-button></td>
            </tr>
        </table>
            </md-tab>
            <md-tab label="Alertas e Indicadores">
                <h2>Alertas e Indicadores</h2>
                <canvas id="myChart"  >
                </canvas>
               <!-- {{ alertas | json  }} -->
            </md-tab>
        </md-tabs>

    </div>
</div>



<div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
    <md-dialog class="fullscreen-dialog" aria-label="Cargar Contrato">
        <form ng-submit="save()">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Cargar / Crear Contrato</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon class="material-icosn" aria-label="Cerrar">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <h3>Puede Crear un Contrato cargandolo con el número del contrato desde Secop II</h3>

                    <div layout="row">
                        <md-input-container flex="50">
                            <label>No. Proceso</label>
                            <input type="text" ng-model="filter.no_proceso">
                        </md-input-container>

                        <md-input-container flex="50">
                            <md-button type="button" ng-click="buscarSecop()">Buscar</md-button>
                        </md-input-container>

                    </div>


                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Id contrato</label>
                                <input type="text" ng-model="contrato.idcontrato">
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Nombre entidad</label>
                                <input type="text" ng-model="contrato.nombre_entidad">
                            </md-input-container>

                        </div>
                    <div layout="row">
                        <md-input-container flex="100">
                            <label>Descripción del Proces</label>
                            <input type="text" ng-model="contrato.descripci_n_del_proceso">
                        </md-input-container>

                    </div>

                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Doc. Proveedor</label>
                            <input type="text" ng-model="contrato.docproveedor">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Valor del Contrato</label>
                            <input type="text" ng-model="contrato.valor_del_contrato">
                        </md-input-container>

                    </div>
                    <div layout="row">
                            <legend>Costos (Almuerzo)</legend>
                    </div>

                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Cantidad Contratada</label>
                            <input required type="text" ng-model="contrato.almuerzo_cantidad">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Valor Unidad</label>
                            <input required type="text" ng-model="contrato.almuerzo_valor">
                        </md-input-container>

                    </div>

                    <div layout="row">
                        <legend>Costos (Refrigerio)</legend>
                    </div>

                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Cantidad Contratada</label>
                            <input required type="text" ng-model="contrato.refrigerio_cantidad">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Valor Unidad</label>
                            <input required type="text" ng-model="contrato.refrigerio_valor">
                        </md-input-container>

                    </div>


                </div>
            </md-dialog-content>



            <md-dialog-actions layout="row">

                <span flex></span>

                <md-button type="submit"">
                Guardar
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
    </div>
</div>


    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog2">
            <md-dialog class="fullscreen-dialog" aria-label="Crear Seguimiento">
                <form ng-submit="addObservacion()">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Cargar / Crear Seguimiento</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <md-icon class="material-icosn" aria-label="Cerrar">close</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Hacer Seguimiento">
                                    <br>
                                    <h2>Crear Seguimiento</h2>
                                    <br>
                            <div layout="row">
                                <md-input-container flex="20">
                                    <label>Fecha (Año/Mes/Dia)</label>
                                    <input  ng-model="nuevoItem.fecha" />
                                </md-input-container>
                                <md-input-container flex="40">
                                    <label>Actor</label>
                                    <md-select ng-model="nuevoItem.actor">
                                        <md-option value = "Endidad">Endidad</md-option>
                                        <md-option value = "Supervisor">Supervisor</md-option>
                                        <md-option value = "Colegio">Colegio</md-option>
                                        <md-option value = "Interventor">Interventor</md-option>
                                        <md-option value = "Veeduria">Veeduria</md-option>
                                        <md-option value = "Contratista">Contratista</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="40">
                                    <label>Estado</label>
                                    <md-select ng-model="nuevoItem.estado">
                                        <md-option ng-repeat="(key,estado) in global.estados" ng-value="estado" >{{ estado }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container flex="20">
                                    <label>Cantidad refrigerios</label>
                                    <input type="number" ng-model="nuevoItem.cantidad_refrigerios">
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label>Cantidad almuerzos</label>
                                    <input type="number" ng-model="nuevoItem.cantidad_almuerzos">
                                </md-input-container>
                            </div>
                            <div layout="row">

                                <md-input-container flex="100">
                                    <label>Observación</label>
                                    <input type="text" ng-model="nuevoItem.observacion">
                                </md-input-container>

                            </div>

                                </md-tab>
                                <md-tab label="Ver Seguimiento">
                    <table class="table table-hover" width="100%">
                        <tr>
                            <th>Actor</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Observacion</th>
                            <th>Valor</th>
                        </tr>
                        <tr ng-repeat="observacion in estasObservaciones">
                            <td>{{ observacion.toJSON().actor }}</td>
                            <td>{{ observacion.toJSON().estado }}</td>
                            <td>{{ observacion.toJSON().fecha | date  }}</td>
                            <td>{{ observacion.toJSON().observacion }}</td>
                            <td>{{ observacion.toJSON().valor }}</td>
                        </tr>

                    </table>
                                </md-tab>
                            </md-tabs>


                        </div>
                    </md-dialog-content>



                    <md-dialog-actions layout="row">

                        <span flex></span>

                        <md-button type="submit"">
                        Guardar
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </div>


</div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
<script src="/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</body>
</html>